body {
  background-color: #ffffcc;
  color: #330000;
  font-family: Verdana, Arial, sans-serif;
}

#H1 {
  background-color: #ccaa66;
  color: #000000;
  text-align: center;
  line-height: 200%;
  border: solid black thin;
}

#nav {
  text-align: center;
}

a:hover {
  color: #dfeeff;
}

#content {
  width: 80%;
}

#footer {
  background-color: #ccaa66;
  color: #000000;
  font-size: 0.6em;
  font-family: italic;
  text-decoration: underline;
  text-align: center;
}
